
 img {
  border-radius: 50%;
  padding-top: 10px;
  height: 200px;
  margin-left: 20%;
}

#form {
  width: 20%;
  height: 90%;
  margin-left: 40%;
  background: #DCE0D9;
  padding: 15px;
}

#form input {
    width: 100%;
    font-size:18px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 0px solid;
}

#createuser {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #BC261D;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
